@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: rgb(216, 215, 221);
	font-family: "Raleway", sans-serif;
}
.err {
	-webkit-text-decoration-style: wavy;
	-moz-text-decoration-style: wavy;
	text-decoration-style: wavy;
}
